@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk&display=swap');

* {
    text-decoration: none;
    list-style: none;
    color: black padding;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: poppin, sans-serif;
    width: 100vw;
    height: 100vw;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

h4 {
    font-size: 0.9rem;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8;
    grid-template-columns: 14rem auto 23rem
}

aside {
    height: 100vh;
    background-color: whitesmoke;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.side-bar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 2rem;
}

.side-bar a{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.side-bar a span{
    font-size: 2.7rem;
}

.side-bar a span:last-child{
    position: absolute;
    bottom: 5rem;
    width: 100%;
}

.container h2{
    margin-left: 3rem;
}